/*@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
font-family: "Honk", system-ui;
*/
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
html, 
body,
*{
    margin: 0%;
    font-size: 16px;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("images/background-pixel.png");
}
h1{
    font-family: "Micro 5", sans-serif;
    background: linear-gradient(to bottom, #fff758, #fca43f, #e8382b);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    font-size: 10vh;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}



.card {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #605dff, #45098a);
    border: 1vw solid rgb(0, 0, 0);
    border-radius: 5%;
    min-width: 400px;
    width: 30%;
    height: 45vh;
    padding: 1vw;
    margin-top: 2%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: -10px 10px 20px rgb(0, 0, 0); 
}

.card-img {
    height: 85%;
    width: 100%;
    object-fit: contain;
}

.card-heading {
    font-size: 2.5vw;
    color: white;
    object-fit: cover;
    margin-top: 8px;
}

@media (max-width:1356px) {
    .container {
        justify-content: center;
    }
    .card{
        width: 45%;
        border-width: 2vw;
    }
    .card-heading{
        border-width: 1.5vw;
        font-size: 3.5vw;
    }
}
@media (max-width:1100px) {
    .card-heading{
        font-size: 3.75vw;
    }
}

@media (max-width:900px) {
    .container {
        justify-content: center;
    }
    .card{
        width: 90%;
        min-width: 100px;
    }
    .card-heading{
        font-size: 6vw;
        margin-top: 0px;
    }
}
