@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
html, 
body,
*{
    margin: 0;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("images/background-pixel.png");
}
h1{
    font-family: "Micro 5", sans-serif;
    background: linear-gradient(to bottom, #fff758, #fca43f, #e8382b);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    font-size: 10vh;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}



.card {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #605dff, #45098a);
    border: 1vw solid rgb(0, 0, 0);
    border-radius: 5%;
    min-width: 400px;
    width: 22%;
    height: 45vh;
    padding: 1vw;
    margin-top: 2%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: -10px 10px 20px rgb(0, 0, 0); 
}

.card-img {
    height: 85%;
    width: 100%;
    object-fit: contain;
}

.card-heading {
    font-size: 200%;
    color: white;
    object-fit: cover;
    margin-top: 8px;
}

#card-img-1{
    transition: all 5s ease-in-out;
}

#card-img-1:hover{
    rotate: 3600deg;
}

#card-img-2{
    transition: all 3s ease-in-out;
}

#card-img-2:hover{
    translate: 10% 20%;
}

#card-img-3{
    transition: all 1s ease-in-out;
}

#card-img-3:hover{
    scale: 1.2;
}

#card-img-4{
    transition: all 1s ease-in-out;
}

#card-img-4:hover{
    opacity: .5;
}

#card-img-5{
    transition: all 2s ease-in-out;
}

#card-img-5:hover{
    blur: 10px;
}

#card-1{
    position: relative;
    animation: colors 7.5s  ease-in-out;
}

@media (max-width:1356px) {
    .container {
        justify-content: center;
    }
    .card{
        width: 45%;
        border-width: 2vw;
    }
    .card-heading{
        border-width: 1.5vw;
    }
}

@media (max-width:900px) {
    .container {
        justify-content: center;
    }
    .card{
        width: 90%;
        min-width: 100px;
    }
    .card-heading{
        margin-top: 0px;
    }
}



@keyframes colors{
    0%{
        left: 50%;
        bottom: 10%;
    }
    25%{
        left: 10%;
        bottom: 50%;
        background: radial-gradient(circle, #605dff, #605dff);
    }
    50%{
        left: 50%;
        bottom: 10%;
        background: radial-gradient(circle, #02c22c, #45098a);
    }
    75%{
        left: 50%;
        bottom: 10%;
        background: radial-gradient(circle, #fff200, #02c22c);
    }
    100%{
        left: 50%;
        bottom: 10%;
        background: radial-gradient(circle, #ff0000, #fff200);
    }
}