html, 
body,
*{
    margin: 0%;
    font-size: 16px;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width:1219px) and (min-width: 500px) {
    .container {
        justify-content: center;
    }
    .card
}

.card {
    display: flex;
    flex-direction: column;
    background-color: blue;
    border: 2vw solid black;
    width: 30%;
    min-width: 400px;
    padding: 1vw;
    margin-top: 2%;
    box-sizing: border-box;
    text-align: center;
}

.card-img{
    size: 1vw;
}

.card-heading {
    font-size: 2vw;
    color: white;
    object-fit: cover;
}

